{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
            <h1 class="font-weight-bold" class="text-center">The Orchid Project</h1>
            <h3 class="font-italic">What is The Orchid Project?</h3>
            <p > As per the Oxford dictionary, music is a pattern of sounds that consist of a melody and rhythm. They are produced through the vibrations of a human’s vocal chords or an instrument. These systematically planned sounds have proven to have a positive impact on the human brain. Listening to music has led to elevated moods and has enforced motivation and it is often known as a source of pleasure. Researches have shown that many psychologists have employed music therapy to stigmatise the brain into a more relaxed state and have seen positive results.</p>
            <p></p>
            <p>Statistics show that music has helped prevent mental health diseases for many students with academic pressure and for adults with work-related stress. Mental health is a representation of cognitive, behavioural and emotional well-being. If mental health is to be affected negatively; it can cause disorders leading to distress or anxiety. Mental health diseases have scientifically shown to have caused severe physical diseases too. </p>
            <p></p>
            
            <p>The Orchid Project was started as a social initiative by us, students who have experienced the mentioned effects and are willing to help other students who are unaware of this aspect of music and mental health. We believe we can help a lot of students to do their absolute best if they are willing to employ our strategies. We have created awareness accounts on social media and have designed playlists for students who have access to devices to use while studying.</p>
            <p></p>
        


{% endblock %}